@use "../../styles/partials/colors" as *;

.planner-card {
    padding: 0 1rem;
    background-color: $Hero;
    height: 400px;
    
    &__title {
        margin-block-start: 0;
        padding-top: 1rem;
    }

    &__container {
        display: inline-block;
        width: 8rem;
        height: 8rem;
        border-radius: 0.312rem;
        border: 0.062rem solid rgba(0, 0, 0, 0.20);
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.20);
        position: relative;
        background-color: white;
        margin-block-end: 2rem;
        margin-right: .5rem;
    }

    &__daily {
        padding: 0.5rem;

        &-title {
            font-size: 13px;
        }
    }
}

.form {
    padding-top: 0.2rem;

    &-input {
        height: 11px;
        margin: 0 5px 0 0;
    }

    &-label {
        font-size: 13px;
    }
}
