@use '../../styles/partials/colors' as *;

.hotel {
    padding: 1rem .5rem;
    background-color: $Hero;

    &__title {
        font-size: 24px;
    }

    &__default-container {
        list-style-type: none;
        padding-inline-start: 0;
        display: flex;
        flex-direction: column;
    }
    
    &__container {
        list-style-type: none;
        padding-inline-start: 0;
        display: flex;
        flex-direction: column;
    }
    &__list {
        margin-bottom: 2rem;
        background-color: $White;
        border-radius: .5rem;
        padding: 1rem 0.5rem;
    }
    &__item {
        height: 150px;

        &-container {
            display: flex;
            justify-content: space-between;
        }
    }

    &__images {
        height: 8rem;
        width: 10rem;
        border-radius: 4px;
    }

    &__rating {
        width: 4rem;
    }

    &__sub-container2 {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    &__price-container {
        display: flex;
        flex-direction: column;
    }

    &__price {
        padding-left: 6px;
        padding-bottom: 8px;
        font-weight: 600;
    }
}

.item-subtitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding-left: 6px;
}

.price-button {
    width: 4rem;
    margin-left: 6%;
    background-color: $Button;
    border: 2px solid $Button-Border;
    color: $White;
    font-weight: 600;
    padding: 0.2rem;

    &:hover {
        background-color: #f5c7f7a3;
        transition: all 0.2s ease-out;
        border: 1px solid #cccccc;
    }
}