@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.hero {
    background: url(../../assets//image/Bougainvillea-Greece-.jpg);
    aspect-ratio: 16/9;
    background-size: cover;

    &__overlay {
        background-color: rgba(0, 0, 0, 0.20);
        aspect-ratio: 16/9;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        margin-block-start: 0;
        color:$White;
        margin-block-end: 0.5rem;

        @include tablet {
            font-size: 44px;
        }
    }

    &__subtitle {
        margin-block-start: 0;
        color: $White;
        font-weight: 600;
        font-style: italic;

        @include tablet {
            font-size: 18px;
        }
    }
}