@use "../../styles/partials/colors" as *;

.search-bar{
    height: 4rem;
    width: 85%;
    background:$White;
    position: relative;
    top: 0rem;
    left: 0rem;
    padding: 1rem 1.5rem;

    &__title {
        margin-block-start: 0;
        margin-block-end: 1rem;
        font-size: 18px;
    }
    &__dates {
        font-size: 12px;
        text-decoration: underline;

        &-join {
            text-decoration: none;
        }
    }

    &__button {
        margin-left: 0.5rem;
    }
}

.drop-btn {
    width: 10px;
}

.react-calendar {
    position: relative;
    z-index: 1;
}