@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.search-bar{
    height: 4rem;
    width: 85%;
    background:$White;
    position: relative;
    top: 0rem;
    left: 0rem;
    padding: 1rem 1.5rem;

    @include tablet {
        width: 37rem;
        padding: 1rem 5.4rem;
        margin-block-end: 1rem;
    }

    &__title {
        margin-block-start: 0;
        margin-block-end: 1rem;
        font-size: 18px;

        @include tablet {
            font-size: 20px;
        }
    }
    &__dates {
        font-size: 12px;
        text-decoration: underline;

        &-join {
            text-decoration: none;
        }
    }

    &__input {
        padding: 0.2rem;
        @include tablet {
            width: 35%;
            padding: 0.5rem;
        }
    }

    &__calendar {
        padding: 0.2rem 0.4rem;
        margin-left: 0.2rem;

        @include tablet{
            padding: 0.5rem;
        }
    }

    &__button {
        margin-left: 0.5rem;
        background-color: $Button;
        border: 2px solid $Button-Border;
        color: $White;
        font-weight: 600;
        padding: 0.2rem 0.5rem;

        @include tablet {
            padding: 0.5rem;
        }

        &:hover {
            background-color: #f5c7f7a3;
            transition: all 0.2s ease-out;
            border: 1px solid #cccccc;
        }
    }
}

.drop-btn {
    width: 10px;
}

.react-calendar {
    position: relative;
    z-index: 1;
}