@use "../../styles/partials/colors" as *;

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-block-start: 1rem;
    padding-top: 1rem;
    background-color: $Footer;

    &__title {
        color: $White;
        font-weight: 700;
    }


    &__socials{
        width: 30%;
    }

    &__contact {
        width: 40%;

        &-container {
            padding: 10px 0;
            line-height: 18px;
        }
    }

    &__icon {
        height: 20px;
    }

    &__icon-container {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
}

.contact__subtitle {
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: $White;
}

a {
    font-size: 12px;
    text-decoration: none;
    color: $White;
    width: 80%;

}