@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0;
    background-color: $Footer;

    @include tablet {
        padding: 1rem 2rem;
    }
    @include desktop {
        padding: 2rem;
    }

    &__title {
        color: $White;
        font-weight: 700;
        padding-bottom: 10px;

        @include tablet {
            font-size: 18px;
        }
        @include desktop {
            font-size: 22px;
            padding-bottom: 14px;
        }
    }


    &__socials{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;

        @include tablet {
            width: 20%;
        }
    }

    &__contact {
        width: 40%;

        @include tablet {
            width: 20%;
        }

        &-container {
            padding: 10px 0;
            line-height: 18px;

            @include tablet {
                line-height: 22px;
            }
            @include desktop {
                line-height: 26px;
            }
        }
    }
    &__icons {
        width: 100%;
        display: flex;
        @include desktop {
            width: 80%;
        }
    }
    &__icon {
        height: 20px;
        @include desktop {
            height: 1.5rem;
        }
    }

    &__icon-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &__pages {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 35%;

        @include tablet {
            display: none;
        }
        
        &-title {
            font-size: 12px;
            color: $White;
            font-weight: 700;

            @include tablet {
                display: none;
            }
        }
    }
    &__tablet {
        display: none;
        @include tablet {
            display: flex;
            flex-direction: column;
            width: 20%;
        }

        &-pages {
            display: none;
    
            @include tablet {
                display: flex;
            }
            @include desktop {
                font-size: 15px;
            }
        }

        &-title {
            display: none;
            @include tablet {
                display: block;
                font-size: 18px;
                color: $White;
                font-weight: 700;
                padding-bottom: 10px;
            }
            @include desktop {
                font-size: 22px;
            }
            
        }

        &-container {
            @include tablet {
                display: flex;
                flex-direction: column;
                padding: 10px 0;
                line-height: 22px;
            }
            @include desktop {
                line-height: 26px;
            }
        }

        &-copyright {
            @include tablet {
                color: $White;
                font-weight: 600;
                font-size: 10px;
                line-height: 18px;
                padding-bottom: 6px;
            }
            @include desktop {
                font-size: 12px;
                line-height: 24px;
            }
        }

        &-icon {
            height: 1.25rem;
            filter: invert(26%) sepia(60%) saturate(447%) hue-rotate(167deg) brightness(97%) contrast(87%);
        }
    }  
}

.contact__subtitle {
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: $White;

    @include tablet {
        font-size: 14px;
    }
    @include desktop {
        font-size: 15px;
    }
    
}

a {
    font-size: 12px;
    text-decoration: none;
    color: $White;
    width: 80%;

    @include tablet {
        font-size: 13px;
        font-weight: 600;
    }
    @include desktop {
        font-size: 15px;
    }
}