@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.confirm {
    padding: 1rem;
    background-color: $Hero;

    @include tablet {
        padding: 1.5rem 2rem;
    }
    @include desktop {
        padding: 2rem 3.5rem;
    }
    
    &__title {
        margin-block-start: 0;
        @include tablet {
            font-size: 26px;
        }
        @include desktop {
            font-size: 28px;
        }
    }

    &__container {
        background-color: $White;
        border-radius: 0.5rem;
        padding: 1rem 0.5rem;
        @include tablet {
            padding: 1rem;
        }
    }

    &__logo {
        padding-right: 8px;
        height: 1.25rem;
        @include tablet {
            height: 2rem;
        }
    }

    &__depart {
        @include tablet {
            font-size: 18px;
            margin-left: 0.5rem;
        }
    }

    &__text {
        margin-block-start: 0;
        line-height: 24px;
        @include tablet {
            font-size: 18px;
            line-height: 28px;
        }
        @include desktop {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__sub-text {
        margin-block-start: 0.5rem;
        line-height: 20px;
        font-size: 14px;
        @include tablet {
            font-size: 15px;
        }
    }

    &__bottom-container {
        margin-block-start: 2rem;
    }

    &__details {
        margin-block-end: 0;
        font-size: 14px;
        @include tablet {
            font-size: 16px;
        }
    }
}